<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link rel="stylesheet" href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/build/css/bootstrap-datetimepicker.css">
	
	<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/locale/ja.min.js"></script>
	<script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/v4.0.0/src/js/bootstrap-datetimepicker.js"></script>
	<title>Edit Todo</title>
</head>
<body>
	<h1 th:text="TODO編集"></h1>
	<form th:action="@{/todo/}" th:object="${todo}" method="POST" id="frm_regist" class="col-md-9 col-sm-9 col-xm-9">
		<div class="form-group">
			<label for="title" th:text="タイトル"></label>
			<input type="text" th:field="*{title}" class="form-control">
		</div>
		<div class="form-group">
			<label for="content" th:text="内容"></label>
			<textarea type="text" th:field="*{content}" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="start_date" th:text="開始日時"></label>
			<div class="input-group">
				<input type="text" class="form-control date" th:field="*{start_date}"/>
				<div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<div class="form-group">
			<label for="end_date" th:text="終了日時"></label>
			<div class="input-group">
				<input type="text" class="form-control date" th:field="*{end_date}"/>
				<div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>
		<input type="hidden" th:field="*{todo_id}"/>
		<a href="javascript:edit_todo()" type="button" class="btn btn-success" th:text="編集"></a>
	</form>
</body>
<script type="text/javascript" th:inline="javascript">
	$(function () {
	  $('.date').datetimepicker({
	    locale: 'ja',
	    format : 'YYYY-MM-DD HH:mm:ss'
	  });
	});
	function edit_todo() {
		if (input_check() == 0) {
			/* $("#frm_regist").submit(); */
		    var url = /*[[@{/todo/}]]*/;
			var data = $("#frm_regist").serialize();
		    var redirect_url = /*[[@{/todo/list}]]*/;
			$.ajax({
			   url: url,
			   type: "POST",
			   dataType: 'json',
			   data: data,
			   async: true, //true:非同期(デフォルト), false:同期
			   success: function(res) {
				   if (res == true) {
				   		alert("Todoの編集が完了しました。");
					    window.location.replace(redirect_url);
				   } else {
					   alert("Todoの編集が出来ませんでした。");
				   }
			   },
			   error : function(XMLHttpRequest, textStatus, errorThrown) {
			     alert("リクエスト時になんらかのエラーが発生しました：" + textStatus +":\n" + errorThrown);
			   }
			});
			
		}
	}
	function input_check() {
		var err_flg = 0;
		var title = $("#title").val();
		var content = $("#content").val();
		var start_date = $("#start_date").val();
		var end_date = $("#end_date").val();
		if (title == "") {
			alert("タイトルを入力してください");
			err_flg++;
			return err_flg;
		}
		if (content == "") {
			alert("内容を入力してください");
			err_flg++;
			return err_flg;
		}
		if (start_date == "") {
			alert("開始日時を入力してください");
			err_flg++;
			return err_flg;
		}
		if (end_date == "") {
			alert("終了日時を入力してください");
			err_flg++;
			return err_flg;
		}
		if (new Date(start_date) >= new Date(end_date)) {
			alert("開始日時は終了日時の前に入力してください");
			err_flg++;
			return err_flg;
		}
		return err_flg;
	}
</script>
</html>