# ===============================
# DATABASE
# ===============================
spring:
 datasource:
  driver-class-name: com.mysql.jdbc.Driver
  username: root
  password: root
  url: jdbc:mysql://localhost:3306/prj_db?serverTimezone=JST

logging:
 level:
  org:
   hibernate: ERROR